services:
  bot:
    build: .
    container_name: gemini-bot-container
    env_file: .env
    restart: unless-stopped
    volumes:
      - .:/app
    labels:
      - "autoheal=true"

  test:
    build: .
    env_file: .env
    volumes:
      - .:/app
    command: pytest -v -l --full-trace

  autoheal:
    image: willfarrell/autoheal
    restart: always
    environment:
      - AUTOHEAL_CONTAINER_LABEL=autoheal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
